<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://function-app-hackathon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f9b35e03-4b7b-45a3-a876-2f92ea7ee882/resourceGroups/Hackathon-2022-PL/providers/Microsoft.Web/sites/function-app-hackathon</ResourceId>
    <UserName>$function-app-hackathon</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://function-app-hackathon.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>